.projects-section {
  margin-top: 70px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  padding: 40px;
}

.projects-title {
  color: var(--text-lightest);
  font-weight: 700;
  font-size: 36px;
}

.projects-link {
  color: var(--lime-green);
}

.projects-link:hover {
  color: var(--text-color);
}

@media (max-width: 960px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects-title {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 740px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
  }
}
