.projects-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  padding: 30px 20px;
}

.filter-btn {
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--text-lightest);
  color: var(--bgColor);
  transition: all 0.5s ease;
}

.filter-btn:hover {
  background-color: var(--light-navy);
  color: var(--text-lightest);
}

.active-btn {
  background-color: var(--light-navy);
  color: var(--text-lightest);
}

@media (max-width: 540px) {
  .projects-filter {
    padding: 20px 30px;
  }
  .filter-btn {
    font-size: 14px;
  }
}
