.exprience-item {
  position: relative;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.exprience-item::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--text-lightest);
  position: absolute;
  left: 4.6%;
  top: 0;
}

.exprience-item:last-child {
  padding-bottom: 0;
}

.exprience-item i {
  font-size: 26px;
  color: var(--text-lightest);
  background-color: var(--light-navy);
  padding: 12px;
  z-index: 1;
}

.experience-title {
  color: var(--text-lightest);
  font-size: 28px;
  font-weight: 700;
}

.experience-date {
  font-family: "Roboto Mono", monospace;
  color: var(--text-lighter);
}
