.contact{
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-header{
    color: var(--lime-green);
}

.contact-subheading{
    color: var(--text-lightest);
    font-weight: 700;
    font-size: 48px;
}

.contact-titles{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-body{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    margin-bottom: 20px;
    font-family: var(--link-font);
    color: var(--text-lightest);
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-socials{
    display: flex;
    gap: 10px;
}
.email-me{
    margin-bottom: 10px;
    color: var(--text-lightest);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input{
    padding: 0.8rem;
    width: 600px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: var(--light-navy);
    border: none;
    outline: none;
}

.form-input:focus{
    border: 2px solid var(--lime-green);
}

.form-input::placeholder{
    font-family: var(--link-font);
    color: var(--text-lightest);
}

@media (max-width: 1000px) {
    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .form-input {
        width: 500px;
    }
    .contact-form{
        align-self: self-start;
    }
}

@media (max-width: 648px){
    .form-input{
        width: 320px;
    }
}