/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* Light Theme */
:root {
  /* Color */
  --bgColor: #0a192f;
  /* --bgColor: #0f0f0e; */
  --light-navy: #112240;
  --text-light: #495670;
  --text-lighter: #a8b2d1;
  --text-lightest: #ccd6f6;
  --text-color: #8892b0;
  --lime-green: #64ffda;
  --icons-color: #fff;

  /* Typography */
  --body-font: "Inter", sans-serif;
  --link-font: "Roboto Mono", monospace;

  /* Shadow */
  --box-shadow: 0 6px 6px rgba(2, 12, 27, 0.7);
}

/* Dark Theme */
.light-mode {
  --bgColor: #fffff2;
  --light-navy: #f7f4f4;
  --text-light: #555;
  --text-lighter: #111e35;
  --text-lightest: #333;
  --text-color: #333;
  --lime-green: #28857d;
  --icons-color: #999;

  --box-shadow: 0 6px 6px rgba(92, 99, 109, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Common Styles for Both Themes */
body,
body.light-mode {
  font-family: var(--body-font);
  background-color: var(--bgColor);
  line-height: 1.7;
  color: var(--text-color);
}

.main {
  position: absolute;
  right: 5%;
  padding: 20px;
  /* padding-left: 120px; */
}

h1,
h2,
h3 {
  color: var(--text-lighter);
  font-weight: 500;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-lighter);
  font-family: var(--link-font);
  transition: all 0.3s ease;
}

a:hover {
  color: var(--lime-green);
  transform: translateY(-5px);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: var(--link-font);
}

.section-title {
  text-align: center;
  color: var(--text-lightest);
  font-weight: 700;
  font-size: 36px;
}

.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section-header {
  text-align: center;
}

.section__title {
  margin-left: 0.875rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 3.7rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  line-height: 1;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid var(--lime-green);
  color: var(--lime-green);
  background-color: transparent;
  font-weight: var(--font-bold);
  transition: all 0.5s ease;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 3px 6px 0 var(--lime-green);
}

.btn:active {
  transform: translateX(0px);
  box-shadow: 1.5px 4px 0 var(--lime-green);
}
.contact {
  padding: 2.8rem;
      padding-left: 140px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-header {
  color: var(--lime-green);
}

.contact-subheading {
  color: var(--text-lightest);
  font-weight: 700;
  font-size: 48px;
}

.contact-titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-body {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin-bottom: 20px;
  font-family: var(--link-font);
  color: var(--text-lightest);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-socials {
  display: flex;
  gap: 10px;
}

.email-me {
  margin-bottom: 10px;
  color: var(--text-lightest);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 0.8rem;
  width: 600px;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--light-navy);
  border: none;
  outline: none;
  color: var(--lime-green);
}

.form-input:focus {
  border: 2px solid var(--lime-green);
  color: var(--lime-green);
}

.form-input::placeholder {
  font-family: var(--link-font);
  color: var(--text-lightest);
}

.footer {
  font-family: var(--link-font);
  color: var(--text-lightest);
  text-align: center;
}
.top-section {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  align-items: center;
  height: 100vh;
  padding-bottom: 100px;
  column-gap: 50px;
  margin-top: -10px;
  padding-left: 135px;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.tag {
  color: var(--lime-green);
  font-family: var(--link-font);
  font-size: 20px;
}

.name {
  color: var(--text-lightest);
  font-size: 80px;
  font-weight: 700;
}

.title {
  color: var(--text-lighter);
  font-size: 50px;
  font-weight: 700;
}

.description {
  font-size: 18px;
}

.hero button {
  font-size: 20px;
  padding: 15px 30px;
  margin-top: 20px;
  font-weight: 800;
}

.hero-link {
  color: var(--lime-green);
}

.hero-link:hover {
  color: var(--text-lighter);
}

.image-side img {
  width: 470px;
}

.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.logo-text {
  color: var(--lime-green);
  font-size: 36px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.toggle-theme {
  display: flex;
  gap: 6px;
  align-items: center;

  background-color: var(--text-light);
  padding: 5px;
  border-radius: 20px;
  color: var(--icons-color);
  font-size: 14px;
}

.active {
  background-color: var(--light-navy);
  padding: 5px;
  border-radius: 20px;
}

.menu {
  display: none;
  font-size: 24px;
  color: var(--text-lightest);
}
.social-section {
  position: fixed;
  bottom: 0%;
  right: 3%;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: var(--text-color);
}

.social-item {
  font-size: 26px;
}

@media (max-width: 1000px) {
  .social-section {
    display: none;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  padding: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  /* padding-left: 110px; */
  /* margin-left: 50px; */
}

.project-figure {
  position: relative;
  overflow: hidden;
}

.project-figure img {
  width: 550px;
  display: block;
  transition: all 0.5s ease;
  cursor: pointer;
}

.project-figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
  transition: all 0.3s ease;
}

.project-figure img:hover {
  transform: scale(1.05);
}

.project-figure:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.projects-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.project-icon {
  font-size: 24px;
  color: #fff;
}

.project-icon:hover {
  color: #64ffda;
}
.projects-cards {
  /* padding: 40px 40px; */
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  padding: 30px 20px;
}

.filter-btn {
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--text-lightest);
  color: var(--bgColor);
  transition: all 0.5s ease;
}

.filter-btn:hover {
  background-color: var(--light-navy);
  color: var(--text-lightest);
}

.active-btn {
  background-color: var(--light-navy);
  color: var(--text-lightest);
}
.project {
  padding: 25px;
  background-color: var(--light-navy);
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.project:hover {
  transform: translateY(-10px);
  color: var(--lime-green);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.folder {
  font-size: 40px;
  color: var(--lime-green);
}

.links {
  font-size: 24px;
  display: flex;
  gap: 15px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.project-title {
  font-size: 30px;
  line-height: 1.5;
  color: var(--text-lightest);
  font-weight: 700;
}

.project-desc {
  color: var(--text-color);
}

.tech {
  display: flex;
  gap: 15px;
  color: var(--text-lighter);
  font-family: "Roboto Mono", monospace;
}
.projects-section {
  margin-top: 70px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  padding: 40px;
      padding-left: 150px;
}

.projects-title {
  color: var(--text-lightest);
  font-weight: 700;
  font-size: 36px;
}

.projects-link {
  color: var(--lime-green);
}

.projects-link:hover {
  color: var(--text-color);
}
.exprience-item {
  position: relative;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.exprience-item::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--text-lightest);
  position: absolute;
  left: 4.6%;
  top: 0;
}

.exprience-item:last-child {
  padding-bottom: 0;
}

.exprience-item i {
  font-size: 26px;
  color: var(--text-lightest);
  background-color: var(--light-navy);
  padding: 12px;
  z-index: 1;
}

.experience-title {
  color: var(--text-lightest);
  font-size: 28px;
  font-weight: 700;
}

.experience-date {
  font-family: "Roboto Mono", monospace;
  color: var(--text-lighter);
}

.one-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.skill-icon {
  background-color: var(--light-navy);
  padding: 30px;
  font-size: 40px;
  border-radius: 50%;
  color: var(--text-lightest);
}

.skill-icon:hover {
  color: var(--lime-green);
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
  padding-right: 30px;
  padding-left: 110px;
  /* padding: 30px; */
}

.mg-bottom {
  margin-bottom: -30px;
}

.skills-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skills-title {
  text-align: center;
  color: var(--text-lightest);
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
}

.exp {
  padding: 20px;
  background-color: var(--light-navy);
  position: relative;
  box-shadow: var(--box-shadow);
}

.skills-link {
  color: var(--lime-green);
  text-align: center;
}

.skills-link:hover {
  color: var(--text-color);
}

@media (max-width: 1035px) {
  .skills-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .skill-title {
    font-size: 28px;
    text-align: left;
  }
}

@media (max-width: 740px) {
  .skills-main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    gap: 60px;
    width: 100%;
    margin-top: 20px;
    /* width: 50%; */
  }

  .mg-bottom {
    margin-bottom: -80px;
  }
}

@media (max-width: 540px) {
  .skills {
    margin: 10px -70px;
  }
}
@media (max-width: 960px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects-title {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 740px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
  }
}

@media (max-width: 540px) {
  .projects-filter {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .filter-btn {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .project-figure img {
    width: 430px;
  }
}

@media (max-width: 1000px) {
  .projects-grid {
    padding: 40px;
  }

  .project-figure img {
    width: 400px;
  }
}

@media (max-width: 740px) {
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-figure img {
    width: 400px;
  }
}

@media (max-width: 540px) {
  .project-figure img {
    width: 360px;
  }
}

@media (max-width: 1000px) {
  .nav-links {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media (max-width: 540px) {
  .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
  }
}

@media (max-width: 1040px) {
  .top-section {
    width: 100%;
    grid-template-columns: 2fr 0.75fr;
    gap: 100px;
  }

  .hero {
    width: 100%;
  }

  .name {
    font-size: 54px;
  }

  .title {
    font-size: 42px;
  }

  .description {
    font-size: 18px;
  }

  .image-side img {
    width: 400px;
  }
}

@media (max-width: 960px) {
  .top-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
    padding: 40px;
    height: 100%;
    margin: 10px 20px;
  }
}

@media (max-width: 740px) {
  .top-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 40px;
    height: 100%;
    margin: 0;
  }

  .hero {
    width: 90%;
  }

  .image-side img {
    width: 80%;
    margin-left: 40px;
  }

  .name {
    font-size: 60px;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .form-input {
    width: 500px;
  }

  .contact-form {
    align-self: self-start;
  }
}

@media (max-width: 648px) {
  .form-input {
    width: 320px;
  }
}

@media (max-width: 960px) {
  .main {
    position: relative;
    width: 100%;
    right: 0;
  }
}
